@font-face {
	font-family: WonkSans;
	font-display: swap;
	src: url("../font/WorkSans-Bold.woff2") format("woff2"),
		url("../font/WorkSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: WonkSans;
	font-display: swap;
	src: url("../font/WorkSans-Medium.woff2") format("woff2"),
		url("../font/WorkSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: WonkSans;
	font-display: swap;
	src: url("../font/WorkSans-Regular.woff2") format("woff2"),
		url("../font/WorkSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}